.classpath
.project
.settings
eclipse
/.idea/*
!/.idea/icon.svg
*.iml
*.ipr
*.iws
/.metadata/

bin
build
target
.gradle
forge-download
out
run
.jqwik-database

/dependency-reduced-pom.xml
*-private.sh
logs/
*.bat
worldedit-bukkit/src/main/java/ignore/*
todo.txt
mvn/*
*.sh
# i18n
worldedit-core/src/main/resources/lang/*
!worldedit-core/src/main/resources/lang/strings.json
**/*.eml
/worldedit-core/FastAsyncWorldEdit.worldedit-core.eml
/worldedit-core/.factorypath

.DS_Store
### Run server ignore
run-*
