.classpath
.project
.settings
eclipse
.idea
*.iml
*.ipr
*.iws

bin
build
target
.gradle
forge-download
out
run

/dependency-reduced-pom.xml
*-private.sh
logs/
*.bat
worldedit-bukkit/src/main/java/ignore/*
todo.txt
mvn/*
docs/