.classpath
.project
.settings
eclipse
.idea
*.iml
*.ipr
*.iws
/.metadata/

bin
build
target
.gradle
forge-download
out
run

/dependency-reduced-pom.xml
*-private.sh
logs/
*.bat
worldedit-bukkit/src/main/java/ignore/*
todo.txt
mvn/*
docs/
*.sh
# i18n
worldedit-core/src/main/resources/lang/*
!worldedit-core/src/main/resources/lang/strings.json
