name: Build PR
on: [pull_request]
jobs:
  build_pr:
    if: github.repository_owner == 'IntellectualSites'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v2
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          cache: gradle
          java-version: 17
      - name: Build on ${{ matrix.os }}
        run: ./gradlew build -s
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
            name: FastAsyncWorldEdit-SNAPSHOT
            path: worldedit-bukkit/build/libs/FastAsyncWorldEdit-Bukkit-*.jar
