name: Java CI

on:
  push:
    branches:
    - '1.16'
  pull_request:
    branches:
    - '1.16'
 
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.2
    - name: Setup Java JDK
      uses: actions/setup-java@v1.4.2
      with:
        java-version: 1.8
    - name: Cache Gradle
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Cache local Maven repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Cache BuildTools decompiled code
      uses: actions/cache@v2
      with:
        path: $GITHUB_WORKSPACE/work
        key: ${{ runner.os }}-buildtools
        restore-keys: |
          ${{ runner.os }}-buildtools
    - name: Test enviornment
      run: echo $GITHUB_WORKSPACE
    - name: Download BuildTools
      run: wget https://hub.spigotmc.org/jenkins/job/BuildTools/lastSuccessfulBuild/artifact/target/BuildTools.jar
    - name: Run BuildTools
      run: java -jar BuildTools.jar --rev latest
    - name: Test with Gradle
      run: ./gradlew clean build -x test
      
