name: Java CI

on:
  push:
    branches:
    - master
    - merge
  pull_request:
    branches:
    - master
    - merge
 
jobs:
  test:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Test with Gradle
      run: ./gradlew clean build -x test
