name: "validate gradle wrapper"

on: ["pull_request", "push"]

jobs:
  build:
    runs-on: "ubuntu-18.04"
    steps:
      - name: "Checkout Repository"
        uses: "actions/checkout@v2.3.4"
      - name: "Validate Gradle Wrapper"
        uses: "gradle/wrapper-validation-action@v1.0.3" 